h2 {
  font-weight: bold;
  font-size: 1.3em;
}

.landingHeader {
  font-family: "Amatic SC", cursive;
  letter-spacing: -15px;
  font-weight: bold;
  font-size: 200px;
  text-align: left;
  margin-left: 10%;
  position: relative;
  top: 200px;
  color: black;
}

.hero {
  height: 800px;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1531617494862-4e322fb560c9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b997cc348b85d4663263413bb725b2d1&auto=format&fit=crop&w=1351&q=80");
}

.card-content {
  font-family: "Noto Sans", normal;
  text-align: center;
  line-height: 1.7em;
  border-color: black;
}

.bottombuttons {
  font-family: "Noto Sans", normal;

  background-color: #252525;
  color: #ffffff;
  height: 100px;
  width: 30%;
  color: #ffffff;
  font-size: 1.7em;
  border-radius: 5px;
  margin-left: 1.2%;
  margin-right: 1.2%;
}

.bottombuttons:hover {
  cursor: pointer;
}

.bottombuttonsbox {
  margin-top: 375px;
  text-align: center;
}

.signup-login-div {
  position: absolute;
  margin-left: 54%;
  margin-top: 10px;
  font-size: 1.2em;
  width: 25%;
  color: blue;
}

.petrx {
  margin-top: 30px;
  font-family: "Amatic SC", cursive;
  font-weight: bold;
  font-size: 150px;
  letter-spacing: -7px;
}

.petrxdiv {
  margin-top: 100px;
}

#main-statement {
  text-align: center;
  margin: 60px 0px 40px 0px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 35px;
  letter-spacing: -3px;
}

#firstline {
  text-align: center;
  width: 25%;
  margin-bottom: 75px;
  color: #fdd947;
  border-color: #fdd947;
}

#secondline {
  margin-bottom: 100px;
  margin-top: 125px;
  width: 40%;
  color: #fdd947;
  border-color: #fdd947;
}

#thirdline {
  width: 30%;
  color: #fdd947;
  border-color: #fdd947;
  margin-top: 100px;
  margin-bottom: 160px;
}

#login {
  color: #252525;
  font-size: 1.2em;
}

#bottom-expo {
  margin: 80px 80px 60px 80px;
  font-family: "Noto Sans", normal;
  font-size: 1.4em;
  text-align: center;
  line-height: 35px;
}

@media only screen and (max-width: 720px) {
  .hero {
    background-size: cover;
    background-image: url(./Leo_Small.png);
  }

  .landingHeader {
    color: #f3f3f3;
  }

  .col-4:last-child {
    margin-bottom: 50px;
  }

  .bottombuttons {
    height: 75px;
    width: 35%;
  }

  #main-statement {
    font-size: 25px;
  }

  #secondline {
    margin-bottom: 25px;
  }
  #bottom-expo {
    margin: 80px 50px 60px 50px;
    font-size: 1em;
    text-align: center;
    line-height: 23px;
  }

  .bottombuttons {
    font-size: 1.3em;
  }

  #login {
    color: #252525;
    font-size: 1em;
  }
}


@media only screen and (max-width: 500px) {

  .bottombuttons {
    height: 60px;
    width: 35%;
    font-size: 1.0em;
  }

  #secondline {
    margin-top: 75px;
    margin-bottom: 0px;
    width: 40%;
    color: #fdd947;
    border-color: #fdd947;
  }
  .signup-login-div {
    position: absolute;
    margin-left: 56%;
    margin-top: 10px;
    font-size: 1.0em;
    width: 25%;
    color: blue;
  }
}
