#form-div-login {
  width: 40%;
  height: 350px;
  margin-top: 150px;
  margin-bottom: 100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
  background-color: #f3f3f3;
  z-index: 1;

  border-radius: 1px;
}

.login-button {
  border-radius: 3px;
  /* font-family: "Josefin Sans", sans-serif; */
  font-size: 1.2em;
  left: 50%;
  position: absolute;
  width: 50%;
  color: #ffffff;
  height: 40px;
  background-color: #252525;
}

.login-form {
  font-family: "Noto Sans", normal;
  font-size: 0.9em;
  font-weight: bold;
  margin-top: 30px;
  left: 50%;
  position: absolute;
}

@media only screen and (max-width: 720px) {
  #form-div-login {
    width: 70%;
  }
}
