.landing-loader-div {
text-align: center;
}

.pet-avatar {
  object-fit: cover;
  width: 100%;
  height: 450px;
}

.bold {
  font-weight: bold;
}

.get-started {
  text-align: center;
  margin-top: 100px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5em;
  margin-left: 10%;
  margin-right: 10%;
  letter-spacing: -2px;
}
.name {
  font-size: 3em;
  font-family: "Josefin Sans", sans-serif;
  margin: 10px 0px 50px 0px;
}
#pet-hr {
  margin-top: 30px;
  margin-bottom: 30px;
  border-color: #fdd947;
  width: 50%;
}

#main {
  padding-left: 20px;
  padding-right: 20px;
}

.delete-edit-pet {
  font-family: "Noto Sans", normal;
  font-size: 0.8em;
  color: white;
  display: inline-block;
  width: 75%;
  border-radius: 3px;
  background-color: grey;
  padding: 0px 5px 0px 5px;
  margin: 10px 5px 0px 5px;
}

.delete-edit-buttons {
  padding-right: 10px;
}
.delete-edit-pet:hover {
  cursor: pointer;
}

.expand-icon {
  height: 60px;
  margin-top: 20px;
}

.expand-icon:hover {
  cursor: pointer;
}

.histories {
  margin-bottom: 40px;
}

.delete-x {
  float: right;
  padding-right: 10px;
  color: grey;
}

.delete-x:hover {
  cursor: pointer;
}
