.nav2 {
  padding: 10px 16px;
  background: #fdd947;
  margin-bottom: 20px;
}

.logo2 {
  color: #252525;
  letter-spacing: -5px;
  font-family: "Amatic SC", cursive;
  font-weight: bold;
  font-size: 5em;
  margin-top: 0px;
  display: inline-block;
}

.links {
  color: #252525;
  font-family: "Josefin Sans", sans-serif;
  /* font-weight: bold; */
  display: inline-block;
  float: right;
  letter-spacing: -2px;
  font-size: 2.6em;
}

.linkz {
  text-decoration: none;
}

li {
  text-align: left;
}

a:visited {
  color: #252525;
}
