.nav2 {
  padding: 10px 16px;
  background: #fdd947;
  margin-bottom: 20px;
}

.logo2 {
  color: #252525;
  letter-spacing: -5px;
  font-family: "Amatic SC", cursive;
  font-weight: bold;
  font-size: 8em;
  margin-top: 0px;
  display: inline-block;
}

.links {
  color: #252525;
  font-family: "Noto Sans", normal;
  font-weight: bold;
  display: inline-block;
  float: right;
  letter-spacing: -2px;
  font-size: 2.3em;
  margin-top: 25px;
}

.linkz {
  color: #252525;
  text-decoration: none;
}

li {
  text-align: left;
}

a:visited {
  color: #252525;
}

@media only screen and (max-width: 720px) {
  .links {
    font-size: 1.5em;
  }

  .logo2 {
    font-size: 6em;
  }
}
